<%- include("partials/_header") %>
<!-- body -->
<body class="main-layout inner_page">
  <!-- loader  -->
  <div class="loader_bg">
    <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
  </div>
  <!-- end loader -->

  <!-- header -->
  <%- include("partials/_menu") %>
  
  <!-- end header inner -->
  <div class="customers">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage text_align_center">
            <h2>Welcome <%= typeof user !== 'undefined' && user ? user.username : 'Guest' %></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="satteb text_align_center">
            <p>
  "Welcome to my  space! Here, I share my visual journey, unique perspectives, and milestones. Explore my gallery to see how I bring ideas to life through my lens."
            </p>
            <h3>Visionary Member</h3>
            <i><img src="https://images.unsplash.com/photo-1493612276216-ee3925520721?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
      alt="Profile Picture" 
      style="width: 180px; height: 180px; border-radius: 50%; object-fit: cover;"
     /></i>
          </div>
        </div>
      </div>

    </div>
  </div>
        <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text_align_center">
              <% if(!inFollowers){%>
              <a style="margin:20px auto;" class="read_more" href="/users/<%=user._id%>/follow?_method=PUT">FOLLOW</a>
              <%} else {%>
              <a style="margin:20px auto;" class="read_more" href="/users/<%=user._id%>/unfollow?_method=PUT">UNFOLLOW</a>
              <%}%>  
            </div>
          </div>
        </div>
      </div>
    <div class="gallery">
    <div class="container_with">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage text_align_center">
           
            <h2>My Photos</h2>
          </div>
        </div>
      </div>
      <div class="tz-gallery">
        <div class="row">

         <% for(photo of photos){ %>
          <div class="col-lg-4 col-md-6 ma_bottom30">
            <div class="lightbox">
              <img src="<%=photo.url %>" alt="<%=photo.name %>" />
              <div class="view_main">
                <div class="pose">
                  <a class="read_more" href="/photos/<%=photo._id %>"
                    ><img src="/images/ga.png" alt="#"
                  /></a>

                 <h3 style="padding: top 10px;padding-bottom: 10px;">
                        <%= photo.name %>
                 </h3>
                 <p style="padding-top: 10px;">
                  <%= photo.description.substring(0,80)+"..." %>
                 </p>
                </div>
              </div>
            </div>
          </div>
         <%}%>


        </div>
      </div>
    </div>
  </div>


  <!-- end footer -->
  <%- include("partials/_footer") %>

